
$mainColor: #0099ff;
$secondaryColor: #525252;

.header{
    width: 70rem;
    height: 3rem;
    margin: auto;
    margin-top: 1rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;

    @import './Header/logo/Logo.scss';
    @import './Header/searchbar/SearchBar.scss';
    @import './Header/user-block/User.scss';
}