@import '../../Source/Source.scss'; 

.upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    height: 5rem;
    background-color: $color7;

    .post-filter{
        width: 30rem;
        height: 2.5rem;
        background-color: $color2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;

        .filter-root{
            width: 8rem;
            height: 2.5rem;
            background-color: $color5;
           
            &::after{
                content: "";
                border-top:20px solid transparent;
                border-left: 20px solid $color5;
                border-bottom: 20px solid transparent;
                position: absolute;
            }   
            .root-text{
                width: 8rem;
                height: 2.5rem;
                align-self: center;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                
            }
        }

        .filter-subs{
            width: 8rem;
            height: 2.5rem;
            background-color: $color5;
            
            &::before{
                content: "";
                border-top:20px solid transparent;
                border-left: 20px solid $color1;
                border-bottom: 20px solid transparent;
                position: absolute;
            } 
            &::after{
                content: "";
                border-top:20px solid transparent;
                border-left: 20px solid $color3;
                border-bottom: 20px solid transparent;
                position: absolute;
            } 
        }

        .filter-prefs{
            width: 8rem;
            height: 2.5rem;
            background-color: $color5;
            &::before{
                content: "";
                border-top:20px solid transparent;
                border-left: 20px solid $color1;
                border-bottom: 20px solid transparent;
                position: absolute;
            } 
            &::after{
                content: "";
                border-top:20px solid transparent;
                border-left: 20px solid $color3;
                border-bottom: 20px solid transparent;
                position: absolute;
            } 
        }
    }

    .btn {
        padding: 15px;
        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        transition: all .5s ease; 

        .btn--doar {
            color: #fff;
            padding-right: 0;
            background-color: $color5;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);
          
        }

        .btn--doar:hover { 
            clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
        }

        .btn--doar:after {
            content: "+";
            color: #f6f6f6;
            display: inline-block;
            position: relative;
            font-size: 22px;
            right: -55px;
            transition: all 0.3s ease;
        }

        .btn--doar:hover:after {
            margin: -5px 15px;
            right: 0px;
        }
    }     
}

