@import '../../Source/Source.scss';
@import './DropDown.scss';

.postlist{
    width: 50rem;
    height: fit-content;
    background-color: $color7;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  
    
}

.post{
    width: 100%;
    height: 25rem;
    width: 50rem;
    margin-bottom: 1rem;
    color:$color3;
    background-color: $color1;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: visible;
    .image{
        width: 97.5%;
        height: 25rem;
        margin: 0.5rem;
        border-radius: 10px;

        background-color: #262626;
    }
    .post-content{
        width: 97.5%;
        height: 20rem;
        background-color: $color2;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.post_title{
    align-self: flex-start;
    cursor: pointer;
}


.dropdown{
    height: 4rem;
    background-color: $color3;
    color: $color1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .dot{
        width: 1rem;
        height: 1.5rem;
        background-color: $color5;
    }
}

