@import '../../Source/Source.scss';

.postlist{
    width: 50rem;
    height: fit-content;
    background-color: $color7;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  
    .post{
        text-align: left;
        width: 100%;
        height: 25rem;
        margin-bottom: 1rem;
        color:$color3;
        background-color: $color2;
        font-weight: 500;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        .image{
            width: 97.5%;
            height: 25rem;
            margin: 0.5rem;
            border-radius: 10px;

            background-color: #262626;
        }
    }
    
    h1{
        align-self: flex-start;
        cursor: pointer;
    }
    .post_delete{
        align-self: flex-end;
        justify-self: flex-start;
        width: 2rem;
        height: 2rem;
        background-color: $color5;
        border: 1px solid $color5;
        border-radius: 0.3rem;
        color: $color1;
        text-align: center;
        margin-right: 0.5rem;
        font-size: 20px;
        font-weight: 500;
        transition: color 2s ease-out;
        transition: background-color 0.6s ease-out;
        &:hover{
            color: $color5;
            background-color: $color3;
            transition: color 2s ease-in;
            transition: background-color 1s ease-in;
        }
    }
    .boxxx{
        width: 1rem;
        height: 1rem;
        border: 2px solid $color6;
        border-radius: 3px;
        transition: rotate 0.1s ease-out;
        &:hover{
            border-left: none;
            border-top: none;
            height: 1.2rem;
            width: 0.7rem;
            border-radius: 1px;
            border-width: 4px;
            border-color: #04d334;
            rotate: 45deg;
            transition: rotate 0.1s ease-in;
        }
    }
}

