$mainColor: #0099ff;
$secondaryColor: #525252;
$color3: #ffffff;


.user-block{
    user-select: none;
    width: 300px;
    background-color: $color3;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    .username-block{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        .hash{
            color: $mainColor;
            margin-right: 2px;
            font-size: 22px;
            font-weight: 700;
        }
        .name{
            color: $secondaryColor;
            align-self: center;
            width: 58px;
        }
    }

    .avatar{
        align-self: center;
        width: 3rem;
        height: 3rem;
        border-radius: 2rem;
        border: 3px solid $mainColor;
        margin-left: 0.7rem;
        cursor: pointer;
    }
    
    &:hover{
       .name:hover{
        color: #000;
        font-weight: 600;
        text-decoration: underline;
       } 
    }
}

.card-body{
    position: absolute;
    width: 200px;
    height: 250px;
    margin-top: 50px;
    background-color: $color3;
    border-radius: 10px;  
    color: $secondaryColor;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    filter: drop-shadow(0px 2px 14px #1a1a1a);
    z-index: 1;

    .card-user-block{
        margin-top: 10px;
        width: 190px;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            align-self: center;
            width: 4rem;
            height: 4rem;
            border-radius: 2rem;
            border: 3px solid $mainColor;
            margin-left: 0.7rem;
        }
        .card-username{
            align-self: center;
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .card-nav{
        width: 190px;
        height: 130px;
        margin-bottom: 5px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        .link{
            height: 2.3rem;
            width: 7rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
            }
            a{
                width: 80px;
                text-decoration: none;
                text-align: left;
                color: $secondaryColor;
                font-size: 16px;
                font-weight: 600;
            }

            &:hover{
                img{
                    filter: brightness(0);
                    width: 22px;
                    height: 22px;
                    align-self: center;
                    justify-self: center;
                    transition: width 0.1s ease-in, height 0.1s ease-in;
                }
                a{
                    text-decoration: underline;
                    font-size: 18px;
                    color: #000;
                    transition: font-size 0.1s ease-in;
                }
            }
        }  
    }
}

.card-body.active{
    opacity: 1;
    visibility: visible;
}
.card-body.inactive{
    opacity: 0;
    visibility: hidden;
}