$mainColor: #0099ff;
$secondaryColor: #525252;
$color3: #ffffff;


.user-block{
    user-select: none;
    width: 300px;
    background-color: $color3;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    .username-block{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        .hash{
            color: $mainColor;
            margin-right: 2px;
            font-size: 22px;
            font-weight: 700;
        }
        .name{
            color: $secondaryColor;
            align-self: center;
        }
    }

    .avatar{
        align-self: center;
        width: 3rem;
        height: 3rem;
        border-radius: 2rem;
        border: 3px solid $mainColor;
        margin-left: 0.7rem;
        cursor: pointer;
    }           
}

.card-body{
    position: absolute;
    width: 200px;
    height: 300px;
    margin-top: 50px;
    background-color: $color3;
    border-radius: 10px;  
    color: $secondaryColor;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    filter: drop-shadow(0px 2px 14px #1a1a1a);
    .card-nav{
        width: 190px;
        height: 150px;
        margin-bottom: 5px;
        background-color: $mainColor;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        list-style-type: none;
        
    }
}

.card-body.active{
    opacity: 1;
    visibility: visible;
}
.card-body.inactive{
    opacity: 0;
    visibility: hidden;
}