@import '../Source/Source.scss';

.footer{
    width: 95rem;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: $color3;
    .title{
        color: $color6;
        font-size: 16px;
        font-weight: 700;
    }
    .info{
        color:$color6;
        font-size: 14px;
        font-weight: 500;
    }
}